*:not(i){
  font-family: 'Times New Roman', Times, serif;
}
h1, h4 {
  font: {
    family: "Architects Daughter", cursive;
    weight: bold;
  }
}
.cr{
  cursor: pointer;
}
.btnFrom{
  width: 200px;
}
@media (max-width:400px) {
  .btnFrom{
    width: 100%;
  }
}
