<section>
  <div class="container">
    <h1 class="text-center my-2">Employee Management</h1>

    <form class="d-flex flex-column gap-2" [formGroup]="employeeFrom" (ngSubmit)="submitForm()">
      <!-- Name Input -->
      <input [ngClass]="{
        'is-valid': !employeeFrom.get('name')?.getError('required') && employeeFrom.get('name')?.touched,
        'is-invalid': employeeFrom.get('name')?.getError('required') && employeeFrom.get('name')?.touched,
        }" formControlName="name" type="text" class="form-control" placeholder="Name...">

      <!-- Email Input -->
      <input [ngClass]="{
        'is-valid': !employeeFrom.get('email')?.getError('required') || employeeFrom.get('email')?.getError('email') && employeeFrom.get('email')?.touched,
        'is-invalid': employeeFrom.get('email')?.touched && employeeFrom.get('email')?.getError('required') || employeeFrom.get('email')?.getError('email')
        }"  formControlName="email" type="email" class="form-control" placeholder="Email...">

      <!-- Skills Inputs -->
      <input [ngClass]="{
        'is-valid': !employeeFrom.get('newSkill')?.getError('required') && employeeFrom.get('newSkill')?.touched,
        'is-invalid': employeeFrom.get('newSkill')?.touched && employeeFrom.get('newSkill')?.getError('required')
        }" formControlName="newSkill" type="text" class="form-control" placeholder="Skill...">

      <h4 class="my-1">Add Skills :
        <button type="button" class="btn btn-sm btn-success" (click)="addSkills()" [disabled]="skills().length >= 5">
          <i class="fa-solid fa-plus"></i>
        </button>
      </h4>
      <div formArrayName="skills">
        <ng-container *ngFor="let skill of skills().controls; let i = index">
          <div [formGroupName]="i">
            <div class="d-flex gap-2 mb-2">
              <input [ngClass]="{
                'is-valid': !skill.get('skill')?.getError('required') && skill.get('skill')?.touched,
                'is-invalid': skill.get('skill')?.touched && skill.get('skill')?.getError('required')
                }" formControlName="skill" type="text" class="form-control" placeholder="Skills...">
              <button class="btn btn-sm btn-danger" (click)="removeSkill(i)"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Gender Inputs -->
      <div class="d-flex flex-column">
        <div class="maleRadio">
          <label for="male" class="me-1 cr">Male</label>
          <input [ngClass]="{
        'is-valid': !employeeFrom.get('gender')?.getError('required') && employeeFrom.get('gender')?.touched,
        'is-invalid': employeeFrom.get('gender')?.touched && employeeFrom.get('gender')?.getError('required')
        }" formControlName="gender" id="male" type="radio" class="cr" name="gender" value="Male">
        </div>
        <div class="femaleRadio">
          <label for="female" class="me-1 cr">Female</label>
          <input [ngClass]="{
        'is-valid': !employeeFrom.get('gender')?.getError('required') && employeeFrom.get('gender')?.touched,
        'is-invalid': employeeFrom.get('gender')?.touched && employeeFrom.get('gender')?.getError('required')
        }" formControlName="gender" id="female" type="radio" class="cr" name="gender" value="Female">
        </div>
      </div>
      @if(editIndex !== null){
        <button type="submit" class="btn btn-warning btnFrom" (click)="updateEmployee()">Update Employee</button>
      } @else {
        <button type="submit" class="btn btn-success btnFrom">Add Employee</button>
      }
    </form>

    <div class="filters my-2">
      <div class="row g-2">
        <div class="col-sm-12 col-md-3">
          <input class="form-control" type="text" placeholder="Filter By Name" (input)="filterByName($event)">
        </div>
        <div class="col-sm-12 col-md-3">
          <input class="form-control" type="text" placeholder="Filter By Email" (input)="filterByEmail($event)">
        </div>
        <div class="col-sm-12 col-md-3">
          <input class="form-control" type="text" placeholder="Filter By Gender" (input)="filterByGender($event)">
        </div>
        <div class="col-sm-12 col-md-3">
          <input class="form-control" type="text" placeholder="Filter By Skills" (input)="filterBySkills($event)">
        </div>
      </div>
    </div>

    <div class="table-responsive shadow-lg p-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Skills</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          @for (employee of filterEmployeeList; track $index) {
            <tr>
              <th scope="row">{{$index + 1}}</th>
              <td>{{employee.name}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.gender}}</td>
              <td>
                <ul>
                  <li>{{employee.newSkill}}</li>
                  @for (skill of employee.skills; track $index) {
                    <li>{{skill}}</li>
                  }
                </ul>
              </td>
              <td>
                <ul class="list-unstyled d-flex gap-2">
                  <li><button class="btn btn-sm btn-outline-danger" (click)="removeEmplyee($index)"><i class="fa-solid fa-trash"></i></button></li>
                  <li><button class="btn btn-sm btn-outline-warning" (click)="loadEmployee($index)"><i class="fa-solid fa-pen-to-square"></i></button></li>
                </ul>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</section>
